<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="http://www.springframework.org/schema/context" 
xmlns:p="http://www.springframework.org/schema/p"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<bean name="myEmploye" class="com.jspiders.Employee">
<property name="id" value="1001"></property>
<property name="name" value="Ismail K"></property>
<property name="qualification" value="BE"></property>
<property name="mail" value="Ismail19@gmail"></property>
<property name="pno" value="8105190"></property>


</bean>
</beans>